@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

$z-index-1: 10;

// activity-box
$sequence-children-margin: 0.4rem;
$activity-breath-color: #ef4444;
$activity-box-actions-space: .3rem;
$activity-border-radius: 0.5rem;
$activity-border-color: #d0d0d0;
$activity-delimiter-bg: #111;
$activity-delimiter-color: #fff;
$activity-delimiter-padding: 0.9rem;
$activity-delimiter-width: 3rem;
$activity-title-height: 1.5rem;
$activity-title-space: 0.5rem;
$activity-title-font-size: 700;
$activity-content-space: 0.8rem;
$activity-box-width-removal: 2.5rem;
$activity-box-height-removal: 1.5rem;
