@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

$z-index-1: 10;

$activity-box-margin: 1rem;
$activity-breath-color: #ef4444;
$activity-box-actions-space: .3rem;
